*{
	margin: 0;
	padding: 0;
}

body{
    background-color: #433B34;
    font-family: "Forum";
}

header {
	padding-left: 1rem;
	margin: 0 auto;
	align-items: center;
}

nav {
	display: flex;
	align-items: center;
	display: flex;
	justify-content: center;
	gap: 120vh;
}

nav ul li a {
	text-decoration: underline 1px;
	color: #fff;
	font-size: 30px;
}

nav ul li {
	display: inline-block;
	margin: 0 2vh;
	align-items: left;
}

nav ul {
	margin-left: 15vh;
	list-style: none;
	margin-top: -7vh;
	justify-content: space-between;
}

#logo{
    display: flex;
	margin-top: 20px;
	z-index: 1;
}

#biblioteca{
	margin-top: -10vh;
	width: 100%;
}

#nome {
	font-family: 'Kapakana';
	color: #fff;
	z-index: 1;
	font-size: 155px;
	margin-top: -68vh;
	margin-left: 82vh;
}

#slogan {
	font-family: 'Forum';
	color: #fff;
	z-index: 1;
	font-size: 31px;
	margin-top: -6vh;
	margin-left: 82vh;
}

#btnSaibaMais {
	border-radius: 40px;
	padding: 20px;
	padding-left: 110px;
	padding-right: 110px;
	margin-left: 150vh;
	margin-top: 90px;
	background-color: rgba(192, 192, 192, 0.4);
	font-family: 'Forum';
  	color: white;
  	border: none;
  	cursor: pointer;
	font-size: 30px;
}

#btnSaibaMais span{
	opacity: 1; 
  	color: white;
}