body {
    background-color: #433B34;
    font-family: "Forum";
    margin: 0;
    padding: 0;
    color: #fff;
}

.logoCirculo {
    position: relative;
}

#circuloLogo {
    width: 145px;
    height: auto;
    padding-top: 10vh;
}

#logo {
    position: absolute;
    top: 10vh;
    left: 1px;
}

/* Fundo envelhecido */
#velho {
    position: relative;
    text-align: center;
    color: #fff;
}

#sobre {
    font-family: 'Kapakana';
    font-size: 100px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

#slogan {
    font-size: 28px;
    font-family: "Forum";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

/* Nossa História */
.historia {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7decf;
    color: #2e2925;
    padding: 50px;
    gap: 40px;
}

.historia img {
    width: 400px;
    border-radius: 10px;
}

.texto-historia h2 {
    font-family: "Kapakana";
    font-size: 40px;
    margin-bottom: 10px;
}

.texto-historia p {
    font-size: 20px;
    margin-bottom: 20px;
}

.essencia {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.essencia div {
    text-align: center;
    font-size: 16px;
}

.essencia img {
    width: 50px;
    margin-bottom: 10px;
}

/* Produtos */
.produtos {
    text-align: center;
    padding: 60px 20px;
    background: #2e2925;
}

.produtos h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.categorias {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background: #fff;
    color: #2e2925;
    border-radius: 10px;
    padding: 15px;
    width: 150px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background: #433B34;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-loja {
    display: inline-block;
    margin-top: 40px;
    padding: 12px 25px;
    background: #fff;
    color: #2e2925;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
}
