body{
    background-color: #433B34;
    font-family: "Forum";
}

#logo{
    display: flex;
	margin-top: 10vh;
	z-index: 1;
}

.cardapio {
    display: flex;
    justify-content: center;
}

#titulo {
    font-family: 'Kapakana';
    color: #fff;
    font-size: 150px;
}

.textos{
    display: flex;    
    justify-content: center;
}

#texto {
    margin-top: 5vh;
    font-size: 30px;
    color: #fff;
}

.search-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 8vw;
    margin-top: 5vh;
}

.search-container {
    position: relative;
}

.search-container input {
    width: 300px;
    padding: 10px 45px;
    border: 1.5px solid #fff;
    border-radius: 25px;
    background: transparent;
    color: #fff;
    font-size: 20px;
    font-family: 'Forum';
}

.search-container .icon-left {
    position: absolute;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
}

#livros {
    margin-top: 10vh;
    margin-bottom: -12vh;
    margin-left: 8vw;
    font-size: 50px;
    color: #fff;
}

.line{
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 15vh;
}

.livros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 15vw; /* espaço entre os livros */
    margin-top: 5vh;
}

.conteudo {
    display: flex;
    align-items: flex-start; /* deixa imagem e texto alinhados */
    width: 450px;
}

.anuncio{
    display: flex;
}

.conteudoLivro {
    margin-left: 2vw;
}

#imagem {
    width: 214px;
    height: 320px;
    border-radius: 10px;
    margin-left: 8vw;
}

#livro {
    color: #fff;
	text-decoration: underline 1px;
    font-size: 40px;
}

#autor {
    color: #fff;
    font-size: 20px;
    margin-top: -1vh;
}

#preco {
    color: #fff;
    margin-top: 4vh;
    font-size: 25px;
}

#sinopse {
    color: #fff;
    margin-top: 3vh;
    font-size: 25px;
}

#carrinho {
	border-radius: 40px;
    width: 274px;
    height: 42px;
    margin-top: 3vh;
	background-color: rgba(192, 192, 192, 0.4);
	font-family: 'Forum';
  	color: white;
  	border: none;
  	cursor: pointer;
	font-size: 15px;
}

.imagemFinal {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}
