body{
    background-color: #433B34;
    font-family: "Forum";
}

#logo{
    display: flex;
	margin-top: 10vh;
	z-index: 1;
}

.cardapio {
    display: flex;
    justify-content: center;
}

#titulo {
    font-family: 'Kapakana';
    color: #fff;
    font-size: 150px;
}

.line{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.identificador {
    display: inline-flex;
    margin-left: 10vh;
    margin-top: 10vh;
}

#icon {
    width: 40px;
}

#subtitulo {
    color: #fff;
    font-size: 40px;
    margin-left: 2vh;
}

.carrossel-container {
    position: relative;
    width: 80%;
    margin: auto;
	overflow: hidden;
    display: block;
    box-sizing: border-box;
}

.carrossel {
    margin-top: 5vh;
    display: flex;
    gap: 70px;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.card {
    position: relative;
    width: 230px;
    flex: 0 0 auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform-origin: center bottom;
}

.card:hover {
    transform: scale(1.1);
    z-index: 2;
}

.card img {
    width: 100%;
    display: block;
    border-radius: 15px 15px 0 0;
}

.quadrado {
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	margin-top: -5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setaEsquerda { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 120px;
    border: none;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.4);
	color: #fff;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    z-index: 30;
    pointer-events: auto;
	margin-left: 2vh;
}
.setaDireita  {
	margin-left: 206vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 120px;
    border: none;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.4);
	color: #fff;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    z-index: 30;
    pointer-events: auto;
}
